<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">

<!-- Ici on met les articles des bookmakers -->
<div th:fragment="winamax" class="bookmakers">
    <h2>Offre de Bienvenue</h2>
    <p></p>
    <p class="sub">Le remboursement se fait jusqu'à 100 euros maximum pour le 1er pari éligible et dans le cas d'une défaite, le tout sous forme de freebets ou récupérable sur le compte bancaire.</p>
    <p class="sub">Conditions spécifiques : </p>
    <p></p>
    <p>-1er dépôt de 15 euros minimum.
    <p>-L'offre de bienvenue fonctionne sur n'importe quel sport, sur un pari simple ou combiné.</p>
    <p>-Le 1er pari doit être engagé dans les 30 jours suivants l'inscription.</p>
    <p>-Aucune cote minimale n'est imposée.</p>
    <p>-Le remboursement est effectué en un seul versement, dans un délai moyen de 3 jours après la validation de votre compte joueur.</p>
    <p>-Il est possible de récupérer la somme sur votre compte bancaire sans condition, il suffit d'envoyer un mail au support Winamax.</p>
    <p>-L'offre promotionnelle n'est valable qu'une fois par adresse IP, foyer et ordinateur afin d'éviter quelconques fraudes.</p>
    <p></p>
    <p class ="sub">Exemple : (pari remboursé avec un 1er dépôt de 50 euros)</p></p>
    <p>-Créez un compte chez Winamax</p>
    <p>-Versez 50 euros sur votre compte joueur</p>
    <p>-Misez ces 50 euros sur le match Dortmund-Bayern sur un match nul (cote à 3.00)</p>
    <p>-S'il y a match nul comme vous aviez dit : vous récoltez 50x3=150 euros, si une équipe gagne, vous aurez accès au remboursement en freebets</p>
    <p>-Finalisez votre inscription</p>
    <p>-Sous 72h, les 50 euros seront restitués sur votre compte</p>
    <p>-Vous pourrez verser ces 50 euros sur votre compte ou les reparier</p>
</div>
<div th:fragment="betclic" class="bookmakers">
    <h2>Offre de Bienvenue</h2>
    <p></p>
    <p class="sub">Le remboursement se fait jusqu'à 100 euros pour le premier pari éligible qu'il soit gagnant ou perdant, le tout sous forme de freebets.</p>
    <p class="sub">Conditions spécifiques : </p>
    <p></p>
    <p>-Il faut déposer au minimum 10 euros sur votre compte pour en bénéficier.<p>
    <p>-Votre 1er pari peut être engagé sur n'importe quel sport et type de partie (résultat de match, score final, pari en direct...) et sans cote minimale.<p>
    <p>-Le versement des paris gratuits est effectué automatiquement dès la validation du résultat du 1er pari, il n'est pas nécessaire d'attendre la confirmation du compte pour les recevoir.<p>
    <p>-Les paris gratuits obtenus sont des crédits non encaissables et à rejouer impérativement.<p>
    <p>-Lorsque que vous jouez avec un pari gratuit, vous ne touchez que le gain net du pari, le montant de la mise est ainsi déduit, ils peuvent être misés en une ou plusieurs fois et restent valables sans aucune limite de temps.<p>
    <p>L'offre promotionnelle n'est valable qu'une fois par adresse IP, foyer et ordinateur afin d'éviter quelconques fraudes.<p>
    <p></p>
    <p class ="sub">Exemple : (pari remboursé avec un 1er dépôt de 100 euros)</p>
    <p>-Créez un compte chez Betclic</p>
    <p>-Versez 40 euros sur votre compte joueur</p>
    <p>-Misez ces 40 euros sur le match Lyon-Marseille sur une victoire de Lyon (cote à 1.20)</p>
    <p>-S'il y a victoire de Lyon comme vous aviez dit : vous récoltez 40x1.20=48 euros, si Lyon ne gagne pas, vous aurez accès au remboursement en freebets</p>
    <p>-Dans le cas d'un pari réussi, vous touchez 8 euros versables sur votre compte et 40 euros de paris gratuits.</p>
</div>
<div th:fragment="unibet" class="bookmakers">
    <h2>Offre de Bienvenue</h2>
    <p></p>
    <p class="sub">Le remboursement se fait de 5 à 100 euros pour le premier pari éligible et dans le cas d'une défaite, le tout sous forme de freebets.</p>
    <p class="sub">Conditions spécifiques : </p>
    <p></p>
    <p>-Un dépôt initial de 5 euros minimum est requis pour accéder à cette promotion.</p>
    <p>-Saisissez le code CBUNI dans la case adéquate.</p>
    <p>-Aucune cote minimale n'est exigée pour votre 1er pari.</p>
    <p>-Cette mise peut être placée sur un pari simple ou combiné, en pré-match ou en direct.</p>
    <p>-Le bonus est attribué en deux fois, 50% de la mise créditée sous 24h puis la partie restante est ajoutée après confirmation de votre compte.</p>
    <p>-Les freebets restent disponibles sans date limite et peuvent être utilisés en plusieurs fois.</p>
    <p>-L'offre promotionnelle n'est valable qu'une fois par adresse IP, foyer et ordinateur afin d'éviter quelconques fraudes.</p>
    <p></p>
    <p class ="sub">Exemple : (pari remboursé avec un 1er dépôt de 20e)</p>
    <p>-Créez un compte chez Unibet</p>
    <p>-Versez 20 euros sur votre compte joueur</p>
    <p>-Misez ces 20 euros sur le match Barca-PSG sur une victoire de Paris (cote à 3.00)</p>
    <p>-S'il y a victoire du PSG comme vous aviez dit : vous récoltez 20x3.00=60 euros, si le PSG ne gagne pas, vous aurez accès au remboursement en freebets</p>
    <p>-Dans le cas d'un pari raté, vous touchez 50% de la mise sous 24h en freebets</p>
    <p>-Finalisez votre inscription, vous touchez alors sous 1 ou 2 jours les 50% restants</p>
</div>
<div th:fragment="bwin" class="bookmakers">
    <h2>Offre de Bienvenue</h2>
    <p></p>
    <p class="sub">Le remboursement se fait de 5 à 120 euros pour le 1er  pari éligible et dans le cas d'une défaite, le tout sous forme de freebets.</p>
    <p class="sub">Conditions spécifiques : </p>
    <p></p>
    <p>-Il faut déposer au moins 10 euros et placer un 1er  pari de 5 euros pour être éligible au bonus.</p>
    <p>-Vous pouvez engager ce pari sur n'importe quel sport et type de partie (résultat de match, score final, pari en direct...) à l'exception des paris à système.</p>
    <p>-Le premier pari doit être réalisé au plus tard 30 jours après le dépôt d'argent initial.</p>
    <p>-Si le 1er  pari est perdu, le freebet est versé automatiquement sous 48h après la fin du match.</p>
    <p>-Une fois crédité, le pari gratuit ne peut pas être retiré par virement et doit être joué sous 7 jours. Aussi, il ne peut pas être réparti sur plusieurs enjeux.</p>
    <p>-Lorsque vous misez et gagnez avec un pari gratuit, vous ne touchez que le gain net, donc le montant de la mise est déduit.</p>
    <p>-Aucune cote minimale n'est imposée pour quelconque pari.</p>
    <p>-L'offre promotionnelle n'est valable qu'une fois par adresse IP, foyer et ordinateur afin d'éviter quelconques fraudes.</p>
    <p></p>
    <p class ="sub">Exemple : (pari remboursé avec un 1er dépôt de 50e)</p>
    <p>-Créez un compte chez Bwin</p>
    <p>-Versez 60 euros sur votre compte joueur</p>
    <p>-Misez ces 60 euros sur le match Juventus-Lille sur une victoire de Lille (cote à 8.00)</p>
    <p>-S'il y a victoire de Lille comme vous aviez dit : vous récoltez 60x8.00=60 euros, si Lille ne gagne pas, vous aurez accès au remboursement en freebets sous 48h</p>


</div>
<div th:fragment="zebet" class="bookmakers">
    <h2>Offre de Bienvenue</h2>
    <p></p>
    <p class="sub">Le remboursement se fait jusqu'à 100 euros pour le 1er pari éligible et dans le cas d'une défaite, le tout sous forme de freebets, avec un bonus de prolongation.</p>
    <p class="sub">Conditions spécifiques : </p>
    <p></p>
    <p>-Un dépôt de 15 euros minimum est nécessaire.</p>
    <p>-Aucune cote minimale n'est imposée pour bénéficier de l'offre.</p>
    <p>-Vous devez placer un pari simple, combine, pré-match ou en direct dans les 15 jours qui suivent le 1er dépôt d'argent.</p>
    <p>-En cas de 1er  pari perdant, vous récupérez 50% du montant misé après le match et les 50% restants après la validation de votre compte joueur, le tout sous forme de freebets.</p>
    <p>-Peu importe le résultat de votre 1er  pari, vous aurez le droit au pack prolongation, qui fonctionne avec des paris simples, combinés et en pré-match seulement.</p>
    <p>-Les paris gratuits du pack prolongation sont versés en deux fois, 25 euros maximum au bout des 30 premiers jours puis 25 euros à l'issue des 60 premiers jours.</p>
    <p>-Les freebets ne sont pas encaissables, si vous misez et gagnez avec un pari gratuit, le montant de la mise est déduit du gain, de plus, ils sont valables 6 mois et peuvent être joués en plusieurs fois.</p>
    <p>-L'offre promotionnelle n'est valable qu'une fois par adresse IP, foyer et ordinateur afin d'éviter quelconques fraudes.</p>
    <p></p>
    <p class ="sub">Exemple : (pari remboursé avec un 1er dépôt de 50e)</p>
    <p>-Ouvrez un compte chez ZeBet</p>
    <p>-Versez 20 euros sur votre compte joueur</p>
    <p>-Misez ces 20 euros sur le match France-Allemagne sur une victoire de la France (cote à 2.00) S'il y a victoire de la France comme vous aviez dit : vous récoltez 20x3.00=60 euros</p>
    <p>-Dans le cas d'un pari raté, vous touchez 50% de la mise sous 24h en freebets</p>
    <p>-Finalisez votre inscription, vous touchez alors sous 1 ou 2 jours les 50% restants</p>
    <p>-Dans les 30 jours suivants, vous touchez 10% de vos mises perdantes avec une limite de 25 euros.</p>
</div>
<div th:fragment="pmu" class="bookmakers">
    <h2>Offre de Bienvenue</h2>
    <p></p>
    <p class="sub">Le remboursement se fait de 5 à 100 euros pour le 1er pari éligible et dans le cas d'une défaite, le tout sous forme de freebets.</p>
    <p class="sub">Conditions spécifiques : </p>
    <p></p>
    <p>-Un dépôt de 5 euros minimum est nécessaire.</p>
    <p>-L'offre fonctionne avec des paris simples ou combinés.</p>
    <p>-Votre 1er  enjeu doit porter sur un évènement qui a lieu dans les 15 jours suivants.</p>
    <p>-Le remboursement est réalisé en deux phases, 25% du montant est crédité dans les 10 jours ouvrés qui suivent le pari, puis les 75% restants dans les 10 jours ouvrés qui suivent la confirmation du compte joueur.</p>
    <p>-Vous avez le droit de récupérer cet argent par virement bancaire.</p>
    <p>-Aucune cote minimale n'est exigée pour le 1er pari ou les freebets.</p>
    <p>-Les crédits obtenus sont valables sans limite de temps.</p>
    <p>-L'offre promotionnelle n'est valable qu'une fois par adresse IP, foyer et ordinateur afin d'éviter quelconques fraudes.</p>
    <p></p>
    <p class ="sub">Exemple : (pari remboursé avec un 1er dépôt de 5e)</p>
    <p>-Ouvrez un compte chez PMU</p>
    <p>-Versez 25 euros sur votre compte joueur</p>
    <p>-Misez ces 25 euros sur le match HEI-Icam sur une victoire de l'Icam (cote à 13.00) , si l'Icam gagne, vous touchez 13.00x25=325euros</p>
    <p>-Dans le cas d'un pari raté, vous touchez 50% de la mise sous 24h</p>
    <p>-Finalisez votre inscription, vous touchez alors sous 1 ou 2 jours les 50% restants</p>
    <p>-Vous pouvez verser ces freebets sur votre compte ou les parier.</p>

</div>
<div th:fragment="parions-sport" class="bookmakers">
    <h2>Offre de Bienvenue</h2>
    <p></p>
    <p class="sub">Le remboursement se fait de 5 à 150 euros pour le 1er pari éligible et dans le cas d'une défaite, le tout sous forme de freebets.</p>
    <p class="sub">Conditions spécifiques : </p>
    <p></p>
    <p>-Le premier dépôt doit être d'au moins 5 euros.</p>
    <p>-Le 1er pari doit se faire dans les 45 jours suivants l'ouverture du compte.</p>
    <p>-Le pari peut être de n'importe quel type (simple, combiné, en direct...).</p>
    <p>-L'évènement sportif choisi doit se faire dans les 45 jours qui suivent l'ouverture du compte.</p>
    <p>-Le remboursement est effectué en 2 phases, 30% du montant est restitué sous 5 jours après le résultat du pari et 70% restants sous 5 jours suivants la confirmation du compte joueur</p>
    <p>-Les crédits de jeu reçus sont des paris gratuits à rejouer impérativement.</p>
    <p>-Ces freebets sont des paris gratuits qui ne rapportent que les gains supplémentaires liés à leur cote.</p>
    <p>-Ces paris gratuits peuvent être répartis en plusieurs mises et ont une durée de validité de 30 jours.</p>
    <p>-Vous devez confirmer votre compte joueur en saisissant le code confidentiel sous 45 jours.</p>
    <p>-L'offre promotionnelle n'est valable qu'une fois par adresse IP, foyer et ordinateur afin d'éviter quelconques fraudes</p>
    <p></p>
    <p class ="sub">Exemple : (pari remboursé avec un 1er dépôt de 50e)</p>
    <p>-Ouvrez un compte chez ParionsSport</p>
    <p>-Versez 50 euros sur votre compte joueur</p>
    <p>-Misez ces 50 euros sur le match Bordeaux-Sochaux sur une victoire de Sochaux (cote à 3.00) , si Sochaux gagne, vous touchez 50x3.</p>
    <p>-Dans le cas d'un pari raté, vous touchez 30% de votre mise après le résultat du match</p>
    <p>-Finalisez votre inscription, vous touchez alors sous 1 ou 2 jours les 70% restants</p>
</div>
<div th:fragment="pokerstars" class="bookmakers">
    <h2>Offre de Bienvenue</h2>
    <p></p>
    <p class="sub">Le remboursement se fait de 0 à 100 euros pour le 1er  pari éligible et dans le cas d'une défaite, le tout sous forme de freebets.</p>
    <p class="sub">Conditions spécifiques : </p>
    <p></p>
    <p>-Un dépôt initial de 10 euros est requis.</p>
    <p>-Le 1er pari peut être placé sur n'importe quelle discipline sportive ou type de pari, aucune cote minimale n'est exigée.</p>
    <p>-Le bonus est reversé sous forme de freebets sous 48h après la confirmation du résultat du match.</p>
    <p>-Le montant de la mise est déduit lorsque vous jouez et gagnez avec un pari gratuit.</p>
    <p>-Le freebet reçu a une durée de validité de 7 jours, il ne peut pas être fractionné en plusieurs enjeux.</p>
    <p>-Ce pari gratuit est éligible avec des paris simples et combinés mais ne marche pas avec le Spin&Bet.</p>
    <p>-L'offre promotionnelle n'est valable qu'une fois par adresse IP, foyer et ordinateur afin d'éviter quelconques fraudes.</p>
    <p></p>
    <p class ="sub">Exemple : (pari remboursé avec un 1er dépôt de 50e)</p>
    <p>-Ouvrez un compte chez Poker Stars</p>
    <p>-Versez 40 euros sur votre compte joueur</p>
    <p>-Misez ces 40 euros sur le match Bayern-Barca sur une victoire de Bayern (cote à 1.20) , si Sochaux gagne, vous touchez 40x1.20=48euros.</p>
    <p>-Dans le cas d'un pari raté, vous touchez la mise sous 24h</p>
</div>
<div th:fragment="france-pari" class="bookmakers">
    <h2>Offre de Bienvenue</h2>
    <p></p>
    <p class="sub">Le remboursement se fait de 0 à 100 euros pour le 1er  pari éligible et dans le cas d'une défaite, le tout sous forme de freebets, avec un bonus de prolongation.</p>
    <p class="sub">Conditions spécifiques : </p>
    <p></p>
    <p>-Il faut effectuer un premier dépôt d'au moins 20 euros pour bénéficier de la promotion.</p>
    <p>-Le remboursement du 1er pari fonctionne avec tous les paris simples et combinés.</p>
    <p>-20% du montant du 1er pari perdu est restitué automatiquement sur le compte joueur dès que le résultat du match est officialisé, les 80% restant sont versés après la validation du compte et sont découpés en plusieurs freebets d'un montant égal.</p>
    <p>-Pour évaluer le montant du bonus de prolongation, le 1er pari et les enjeux en freebets ne sont pas pris en compte. De même, votre compte joueur doit être au préalable validé.</p>
    <p>-Dès que vous atteignez un pallier de 100 euros misés, vous recevez automatiquement vos 10 euros de bonus sous 48h.</p>
    <p>-Tous ces bonus prennent la forme de freebets, lorsque vous jouez avec ce type de crédit, le montant de la mise est déduit du gain.</p>
    <p>-Un freebet a une durée de validité de 30 jours et ne peut être utilisé en plusieurs fois.</p>
    <p>-L'offre promotionnelle n'est valable qu'une fois par adresse IP, foyer et ordinateur afin d'éviter quelconques fraudes.</p>
    <p></p>
    <p class ="sub">Exemple : (pari remboursé avec un 1er dépôt de 50 euros)</p>
    <p>-Ouvrez un compte chez FrancePari</p>
    <p>-Versez 50 euros sur votre compte joueur</p>
    <p>-Misez ces 50 euros sur le match Poudlard-DurmStrang sur une victoire de Poudlard (cote à 2.00) , si Poudlard gagne, vous touchez 50x2.00=100 euros.</p>
    <p>-Dans le cas d'un pari raté, vous touchez 20% de votre mise après le résultat du match</p>
    <p>-Finalisez votre inscription, vous touchez alors sous 1 ou 2 jours les 80% restants</p>
</div>
<div th:fragment="genybet" class="bookmakers">
    <h2>Offre de Bienvenue</h2>
    <p></p>
    <p class="sub">Le remboursement se fait de 5 à 50 euros pour le 1er pari éligible et dans le cas d'une défaite, le tout sous forme de freebets.</p>
    <p class="sub">Conditions spécifiques : </p>
    <p></p>
    <p>-Le dépôt d'argent minimum est fixé à 5 euros.</p>
    <p>-Votre mise peut porter sur tout type de pari, pré-match ou en direct, simple, combiné, il est aussi valable avec les grilles de pronostics.</p>
    <p>-En cas de défaite, le site vous restitue jusqu'à 10 euros juste après la fin du match puis la somme restante après la saisie du code d'activation, le tout sous forme de freebets.</p>
    <p>-Une fois le bonus attribué sur le compte joueur, sa durée de validité est de 3 mois.</p>
    <p>-L'offre promotionnelle n'est valable qu'une fois par adresse IP, foyer et ordinateur afin d'éviter quelconques fraudes.</p>
    <p></p>
    <p class ="sub">Exemple : (pari remboursé avec un 1er dépôt de 30e)</p>
    <p>-Ouvrez un compte chez Genybet</p>
    <p>-Versez 70 euros sur votre compte joueur</p>
    <p>-Misez ces 70 euros sur le match PSG-Juventus sur une victoire de la Juventus (cote à 2.00) , si la Juventus gagne, vous touchez 70x2.00=140 euros.</p>
    <p>-Dans le cas d'un pari raté, vous touchez 10 euros de votre mise après le résultat du match</p>
    <p>-Finalisez votre inscription, vous touchez alors sous 1 ou 2 jours le reste.</p>
</div>
<div th:fragment="vbet" class="bookmakers">
    <h2>Offre de Bienvenue</h2>
    <p></p>
    <p class="sub">Le remboursement se fait de 0 à 150 euros pour le 1er pari éligible et dans le cas d'une défaite, le tout sous forme de freebets.</p>
    <p class="sub">Conditions spécifiques : </p>
    <p></p>
    <p>-Vous devez approvisionner votre compte avec un minimum de 10 euros.</p>
    <p>-Votre 1er pari doit être placé sur une cote globale à 1.1 ou supérieure.</p>
    <p>-Vous avez le droit au bonus uniquement si votre 1er pari est perdant.</p>
    <p>-Le bonus est versé en 2 parties, 50% après la validation du résultat du pari et 50% après la vérification de votre compte joueur.</p>
    <p>-Ces deux bonus prennent la forme de freebets, lorsque vous misez et gagnez avec ce genre de crédit, le montant de la mise est déduit.</p>
    <p>-Les freebets ne peuvent être répartis en plusieurs enjeux et doivent être joués sous les 15 jours.</p>
    <p>-L'offre promotionnelle n'est valable qu'une fois par adresse IP, foyer et ordinateur afin d'éviter quelconques fraudes.</p>
    <p></p>
    <p class ="sub">Exemple : (pari remboursé avec un 1er dépôt de 100e)</p>
    <p>-Ouvrez un compte chez Vbet</p>
    <p>-Versez 10 euros sur votre compte joueur</p>
    <p>-Misez ces 10 euros sur le match France-Espagne sur une victoire de la France (cote à 1.50) , si la France gagne, vous touchez 10x1.50=15 euros.</p>
    <p>-Dans le cas d'un pari raté, vous touchez 50% de votre mise après le résultat du match</p>
    <p>-Finalisez votre inscription, vous touchez alors sous 1 ou 2 jours les 50% restants</p>

</div>
<div th:fragment="netbet" class="bookmakers">
    <h2>Offre de Bienvenue</h2>
    <p></p>
    <p class="sub">Le remboursement se fait de 10 à 150 euros pour le 1er pari éligible et dans le cas d'une défaite, le tout sous forme de freebets, avec un bonus de 5 euros à la confirmation du compte.</p>
    <p class="sub">Conditions spécifiques : </p>
    <p></p>
    <p>-Le 1er  dépôt doit être d'au moins 10 euros.</p>
    <p>-Votre premier enjeu doit porter sur un pari simple ou combiné.</p>
    <p>-Aucune cote minimale n'est exigée avec la première mise.</p>
    <p>-En cas de pari perdu, le versement des bonus est effectué en deux fois sur votre compte Netbet, 5°% du bonus sous 24h après le match puis les 50% restants dès que votre compte joueur est validé par l'opérateur.</p>
    <p>-Pour obtenir le pari gratuit de 5 euros, un dépôt d'argent est nécessaire.</p>
    <p>-Tous ces bonus sont versés sous forme de freebet, lorsque vous jouez avec ce pari gratuit le montant de la mise est déduit de votre gain.</p>
    <p>-Chaque freebet a une durée de validité de 7 jours et ne peut être utilisé en plusieurs fois.</p>
    <p>-L'offre promotionnelle n'est valable qu'une fois par adresse IP, foyer et ordinateur afin d'éviter quelconques fraudes.</p>
    <p></p>
    <p class ="sub">Exemple : (pari remboursé avec un 1er dépôt de 50e)</p>
    <p>-Ouvrez un compte chez Netbet</p>
    <p>-Versez 40 euros sur votre compte joueur</p>
    <p>-Misez ces 40 euros sur le match Brésil-France sur une victoire de la France (cote à 2.50) , si la France gagne, vous touchez 40x2.50=100 euros.</p>
    <p>-Dans le cas d'un pari raté, vous touchez 50% de votre mise après le résultat du match</p>
    <p>-Finalisez votre inscription, vous touchez alors sous 1 ou 2 jours les 50% restants et les 5 euros de freebets complémentaires</p>

</div>

<div th:fragment="barriere-bet" class="bookmakers">
    <h2>Offre de Bienvenue</h2>
    <p></p>
    <p class="sub">Pour le 1er pari éligible vous pouvez être remboursés jusqu'à 150euros, BarriereBet propose aussi une offre de cashback de 2.5% le premier mois suivant l'inscription, puis de 4% pour le 2eme mois. Tous les remboursements se font sous forme de freebets.</p>
    <p class="sub">Conditions spécifiques : </p>
    <p></p>
    <p>-Votre 1er dépôt doit être de 5euros minimum </p>
    <p>-Le 1er pari doit être placé sur un pari simple ou combiné, peu importe la cote et le montant.</p>
    <p>-Si ce pari est perdant, vous êtes éligibles au remboursement avec une limite de 150e.</p>
    <p>-Ce bonus vous sera reversé en 2 temps, 50% dans les 24h suivant la fin du match, les 50% restants vous seront transférés après la validation de votre compte joueur.</p>
    <p></p>
    <p class ="sub">Exemple : </p>
    <p>-Inscrivez-vous sur Barriere Bet</p>
    <p>-Misez 30 euros sur le match PSG-Lille sur une victoire de Lille (cote à 3.00)</p>
    <p>-Si Lille gagne ce match, vous gagnez 30x3.00=90euros</p>
    <p>-Si le PSG gagne ou qu'il y a un nul, BarriereBet vous restitue votre mise en 2 fois, 50% après le match, et 50% après la confirmation de votre compte joueur. Les restitutions sont en freebets</p>
    <p>-Pendant le mois qui suit l'ouverture de votre compte, avec vos 100euros de mises cumulées sur le mois, vous gagnez 2,5% de ces mises, soit 2.50euros en freebets<p>
    <p>-Pendant le mois d'après, avec vos 400euros de mises cumulées sur le mois, vous gagnez 4% de ces mises, soit 16euros.<p>

</div>


</html>