<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">

<!-- Ici on met les articles des bookmakers -->

<div th:fragment="winamax" class="bookmakers">
    <h2>Offre de parrainage</h2>
    <p></p>
    <h3>Pour le parrain :</h3>
    <p>-Avoir un compte Winamax sur lequel un 1er dépôt a été effectué</p>
    <p>-Rendez-vous sur la page parrainage de Winamax</p>
    <p>-Choisissez votre méthode pour recruter des filleuls et attendre qu'ils s'inscrivent via votre compte</p>
    <p>-Vous recevrez un bonus de 10 euros quand le filleul aura finalisé son inscription et effectué son 1er dépôt</p>
    <p></p>
    <h3>Pour le filleul :</h3>
    <p>-Ne jamais avoir eu de compte Winamax</p>
    <p>-Cliquer sur le lien d'inscription de votre parrain et créez un compte.</p>
    <p>-Effectuez un 1er dépôt de 15 euros minimum afin que le parrain soit validé.</p>
    <p>-Vous recevrez un bonus de 10 euros quand vous aurez finalisé votre inscription et effectué votre 1er dépôt</p>
    <p></p>
    <p>C'est un bonus en freebets, il doit être rejoué avant de pouvoir le transférer sur votre compte, cependant le montant de la mise n'est pas déduit lorsque vous pariez ce bonus.</p>
</div>
<div th:fragment="betclic" class="bookmakers">
    <h2>Offre de parrainage</h2>
    <p></p>
    <h3>Pour le parrain :</h3>
    <p>-Avoir un compte BetClic déjà actif</p>
    <p>-Rendez-vous sur la page Mon Compte de BetClic et cliquer sur la rubrique Mes Amis</p>
    <p>-Partagez le lien de parrainage avec votre ou vos filleul(s).</p>
    <p></p>
    <h3>Pour le filleul :</h3>
    <p>-Ne jamais avoir eu de compte BetClic ni appartenir à la famille du parrain</p>
    <p>-Cliquez sur le lien d'inscription de votre parrain et créez un compte</p>
    <p>-Effectuez un premier dépôt de 20 euros minimum</p>
    <p>-Faites 10 paris sportifs suivants ces règles :</p>
    <p></p>
    <p>--Les rencontres sportives doivent avoir 3 possibilités de résultats minimum</p>
    <p>--La cote doit être à 2.00 ou plus</p>
    <p>--Les paris doivent êtres différents ou placés sur des match différents</p>
    <p></p>
    <p>Le parrain et le filleul recevront alors tous les deux 10 euros sous forme de freebets.</p>
</div>
<div th:fragment="unibet" class="bookmakers">
    <h2>Offre de parrainage</h2>
    <p></p>
    <h3>Pour le parrain :</h3>
    <p>-Avoir un compte Unibet valide</p>
    <p>-Rendez-vous sur la page Mon Compte de BetClic et cliquer sur la rubrique Parrainer mes Amis</p>
    <p>-Partagez le lien de parrainage avec votre ou vos filleul(s).</p>
    <p></p>
    <h3>Pour le filleul :</h3>
    <p>-Dans le champ Code promo du formulaire d'inscription, saisissez le code de votre parrain</p>
    <p>-Effectuez un premier dépôt de 10 euros minimum</p>
    <p>-Pariez dans les 30 jours qui suivent l'inscription un montant de 10 euros minimum</p>
    <p></p>
    <p>Le parrain et le filleul recevront alors tous les deux 10 euros sous forme de freebets sous 24h.</p>
</div>
<div th:fragment="zebet" class="bookmakers">
    <h2>Offre de parrainage</h2>
    <p></p>
    <h3>Pour le parrain :</h3>
    <p>-Rendez-vous sur le site de ZeBet, cliquez ensuite sur votre nom d'utilisateur et enfin accédez à la rubrique Parrainage </p>
    <p>-Rentrez le nom et l'adresse mail que vous voulez parrainer</p>
    <p></p>
    <h3>Pour le filleul :</h3>
    <p>-Avec l'aide du lien envoyé par le parrain sur votre mail, ouvrez un compte</p>
    <p>-Effectuez un 1er dépôt d'au moins 15 euros.</p>
    <p>-Validez votre compte sous 30 jours</p>
    <p></p>
    <p>Le parrain et le filleul recevront alors tous les deux 10 euros sous forme de freebets.</p>
</div>
<div th:fragment="pmu" class="bookmakers">
    <h2>Offre de parrainage</h2>
    <p></p>
    <h3>Pour le parrain :</h3>
    <p>-Avoir un compte valide chez PMU Sports</p>
    <p>-Rendez-vous sur le site PMU Sports, allez la rubrique Mon compte, puis Parrainage</p>
    <p>-Rentrez les adresses mail de vos filleuls puis cliquez sur Envoyer mes invitations </p>
    <p></p>
    <h3>Pour le filleul :</h3>
    <p>-Avec l'aide du lien envoyé par votre parrain, ouvrez un compte chez PMU Sports </p>
    <p>-Faites valider son compte joueur</p>
    <p>-Faites un 1er dépôt, il doit être de 5 euros minimum</p>
    <p></p>
    <p>Dans les 10 jours qui suivent la validation du filleul, le parrain recevra 10 euros et le filleul 5 euros. Le bonus est encaissable immédiatement ou rejouable.</p>
</div>
<div th:fragment="france-pari" class="bookmakers">
    <h2>Offre de parrainage</h2>
    <p></p>
    <h3>Pour le parrain :</h3>
    <p>-Avoir un compte France-Pari valide</p>
    <p>-Rendez-vous sur le site de France-Pari, cliquez sur Promotions puis Parrainage</p>
    <p>-Rentrez les adresses mail de vos filleuls puis envoyez vos invitations</p>
    <p></p>
    <h3>Pour le filleul :</h3>
    <p>-Validez entièrement votre compte joueur</p>
    <p>-Effectuez un premier dépôt de 50 euros minimum</p>
    <p>-Misez au total 100 euros</p>
    <p></p>
    <p>Une fois cela fait, le parrain recevra 10 euros qu'il devra retirer sous 15 jours. Le bonus est sous forme de freebets à jouer 3 fois avant de pouvoir le retirer en banque.</p>
</div>
<div th:fragment="vbet" class="bookmakers">
    <h2>Offre de parrainage</h2>
    <p></p>
    <h3>Pour le parrain :</h3>
    <p>-Avoir un compte VBet depuis au 1 mois</p>
    <p>-Votre compte doit être valide</p>
    <p>-Rentrez les adresses mail de vos filleuls dans Promotions puis  Parrainage</p>
    <p>-Faites un dépôt de 20 euros minimum</p>
    <p></p>
    <h3>Pour le filleul :</h3>
    <p>-Votre compte doit être valide</p>
    <p>-Cliquez sur le lien de votre parrain</p>
    <p>-Faites un dépôt de 20 euros minimum</p>
    <p></p>
    <p>Le parrain et le filleul seront crédités chacun de 10 euros en freebets.</p>
</div>
<div th:fragment="netbet" class="bookmakers">
    <h2>Offre de parrainage</h2>
    <p></p>
    <h3>Pour le parrain :</h3>
    <p>-Avoir un compte NetBet valide</p>
    <p>-Rendez-vous sur le site de NetBet, cliquez sur Promo puis Parrainage</p>
    <p>-Rentrez votre nom ainsi qu'un message d'invitation pour le filleul (optionnel)</p>
    <p>-Saisissez les adresses mail de votre ou vos filleul(s) puis validez</p>
    <p></p>
    <h3>Pour le filleul :</h3>
    <p>-Vous devez avoir effectué un dépôt de 10euros au minimum</p>
    <p>-Validez votre compte joueur</p>
    <p>-Placez un premier pari sportif, celui-ci doit être d'au moins
            15 euros</p>
    <p></p>
    <p>Une fois cela fait, le parrain recevra 20 euros qu'il devra retirer. Le bonus est sous forme de freebets.</p>
</div>

<div th:fragment="parions-sport" class="bookmakers">
    <h2>Offre de Parrainage</h2>
    <p></p>
    <p class="sub">Le bookmaker ne propose pas d'offre de parrainage actuellement.</p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
</div>

<div th:fragment="bwin" class="bookmakers">
    <h2>Offre de Parrainage</h2>
    <p></p>
    <p class="sub">Le bookmaker ne propose pas d'offre de parrainage actuellement.</p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
</div>


<div th:fragment="pokerstars" class="bookmakers">
    <h2>Offre de Parrainage</h2>
    <p></p>
    <p class="sub">Le bookmaker ne propose pas d'offre de parrainage actuellement.</p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
</div>

<div th:fragment="genybet" class="bookmakers">
    <h2>Offre de Parrainage</h2>
    <p></p>
    <p class="sub">Le bookmaker ne propose pas d'offre de parrainage actuellement.</p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
</div>


<div th:fragment="barriere-bet" class="bookmakers">
    <h2>Offre de Parrainage</h2>
    <p></p>
    <p class="sub">Le bookmaker ne propose pas d'offre de parrainage actuellement.</p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
</div>


</html>