header {
  margin-top:0%;
  padding: 0 0 0;
  margin:0;
}
 section {
  padding: 150px 0;
}

.logo {
max-width:80px; 
margin-top: -7px;"	
}




.navbar-custom {
	background-color:black!important;
}

footer.footer.footer-black {
    background: #323437;
}

.footer-big {
    color: #999;
    padding: 60px 0 50px;
    text-align: center;
}
.card-description, .description, .footer-big {
    color: #999;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display: block;
}
* {
    -webkit-tap-highlight-color: rgba(255,255,255,0);
    -webkit-tap-highlight-color: transparent;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
footer {
    display: block;   
}
ul {
list-style:none;
margin-left:0;
padding-left:0;
}

.mpbup a{
    font-size: 15px !important;
}





.pb-5, .py-5 {
    padding-bottom: 3rem!important;
}
.pt-5, .py-5 {
    padding-top: 3rem!important;
}
.pb-5, .py-5 {
    padding-bottom: 3rem!important;
}
.pt-5, .py-5 {
    padding-top: 3rem!important;
}
article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
    display: block;
}
article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
    display: block;
}
*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*, ::after, ::before {
    box-sizing: border-box;
}
*, ::before, ::after {
    box-sizing: border-box;
}
user agent stylesheet
section {
    display: block;
}
body {
    font-family: 'Open Sans',sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: .9375rem;
    font-weight: 500;
    line-height: 1.9;
    color: #1a1a1a;
    text-align: left;
}
body {
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
}
:root {
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    --font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
}
html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}
*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*, ::after, ::before {
    box-sizing: border-box;
}
*, ::before, ::after {
    box-sizing: border-box;
}
*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*, ::after, ::before {
    box-sizing: border-box;
}
*, ::before, ::after {
    box-sizing: border-box;
}
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
}
::-webkit-scrollbar-corner {
    background: transparent;
}
::-webkit-scrollbar-thumb {
    background: #000000;
    border: 0px none #ffffff;
    border-radius: 0px;
}
::-webkit-scrollbar-track {
    background: #444a50;
    border: 0px none #ffffff;
    border-radius: 0px;
}




.pb-5, .py-5 {
    padding-bottom: 3rem!important;
}
.pt-5, .py-5 {
    padding-top: 3rem!important;
}
.pb-5, .py-5 {
    padding-bottom: 3rem!important;
}
.pt-5, .py-5 {
    padding-top: 3rem!important;
}
article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
    display: block;
}
article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
    display: block;
}
*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*, ::after, ::before {
    box-sizing: border-box;
}
*, ::before, ::after {
    box-sizing: border-box;
}
user agent stylesheet
section {
    display: block;
}

*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*, ::after, ::before {
    box-sizing: border-box;
}
*, ::before, ::after {
    box-sizing: border-box;
}
user agent stylesheet
div {
    display: block;
}


.nav-tabs {
    border-bottom: 1px solid #dee2e6;
}
.nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.nav-tabs {
    border-bottom: 1px solid #dee2e6;;
}
.nav {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
dl, ol, ul {
    margin-top: 0;
    margin-bottom: 1rem;
}
ol, ul, dl {
    margin-top: 0;
    margin-bottom: 1rem;
}
*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*, ::after, ::before {
    box-sizing: border-box;
}
*, ::before, ::after {
    box-sizing: border-box;
}
ul {
    display: block;
    list-style-type: none;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;

}
.nav-tabs .nav-item {
    margin-bottom: -1px;
}

*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*, ::after, ::before {
    box-sizing: border-box;
}
*, ::before, ::after {
    box-sizing: border-box;
}
/*
li {
    display: list-item;
    text-align: -webkit-match-parent;
 
}
*/
.nav-tabs .nav-link {
    border: 1px solid transparent;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
}
.nav-link {
    display: block;
    padding: .5rem 1rem;
text-decoration:none; 
}
.nav-link {
    display: block;
    padding: .5rem 1rem;
text-decoration:none; 
}
a {
    color: #262626;
    font-size: .9375rem;
    font-weight: 500;
    text-decoration: none;
}
a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
}

*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*, ::after, ::before {
    box-sizing: border-box;
}
*, ::before, ::after {
    box-sizing: border-box;
}

.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
}
a:-webkit-any-link {
    color: black;
    cursor: pointer;
    text-decoration: none;
    font-size: 13px;
}
.card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
}
*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*, ::after, ::before {
    box-sizing: border-box;
}
*, ::before, ::after {
    box-sizing: border-box;
}
div {
    display: block;
}


.container {
    width: 80%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,0.125);
    border-radius: .25rem;
}
*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*, ::after, ::before {
    box-sizing: border-box;
}
*, ::before, ::after {
    box-sizing: border-box;
}
div {
    display: block;
}
t{
font-size:10px;
color:darkgrey;

}



a:link 
{ 
 text-decoration:none; 
} 

/*Partie Jules*/
.index a{
    font-size:120%;
    color:red;
}



.index p{
	font-size:60%;
	line-height: 1.5em;
	padding: 1em 0 0;
}

header.headerindex {
  padding: 150px 0 150px;
  margin:0;
  background-image: url("../img/bg-index.jpg");
}

header.bookies{
    margin:0;
    background-color: black;
}

header.art1{
	padding: 85px 0 85px;
    margin:0;
    background-color: black;
}

.art1 h1{
	color:white;
}

header.art0{
	background-color:black;
}

.bookmakers p{
    font-size:60%;
	line-height: 1.5em;
	padding: 1em 0 0;
}

.bookmakers p.sub{
	font-weight:bold;
}

.beginners p{
	font-size:60%;
	line-height: 1.5em;
	padding: 1em 0 0;
}

.beginners p.sub{
	font-weight:bold;
}

.beginners p{
	font-size:60%;
	line-height: 1.5em;
	padding: 1em 0 0;
}

.beginners p.sub{
	font-weight:bold;
}

.basicd p{
	font-size:60%;
	line-height: 1em;
	padding: 0.7em 0 0;
}

.basicd p.sub{
	font-weight:bold;
}

.card p{
	font-size:60%;
	line-height: 1.5em;
	padding: 1em 0 0;
}

.card h3{
	font-weight:bold;
}

.card h2{
	text-align:center;
}


/*
@media (min-width: 768px){
.footcontainer {
    max-width: 720px;
}}
@media (min-width: 576px){
.footcontainer {
    max-width: 540px;
}}

@media (max-width: 480px){
footer.footer {
    background: #fff;
    font-size:10px;
}}


 */
@media (min-width: 480px){
footer.footer {
    background: #fff;
    font-size:20px;
}}

footer.footer.footer-black {
    background: #323437;
}

.footer-big {
    color: #999;
    padding: 60px 0 50px;
    text-align: center;
}
/*

@media (min-width: 768px){
.container-md, .container-sm, .container {
    max-width: 768px;}
}
@media (min-width: 576px){
.footcontainer-sm, .footcontainer {
    max-width: 576px;
}}
@media (min-width: 768px){
.container {
    max-width: 768px;
}}
@media (min-width: 576px){
.footcontainer {
    max-width: 576px;
}}

@media (min-width: 768px){.t-md, .t-sm, .t {

font-size:1px;}
}

@media (min-width: 100px){
t-sm{
font-size:20px;
}}

@media (min-width: 768px){
t{
font-size:1px;
}}
*/
@media (min-width: 1000px){
t{
font-size:20px;
}

.footcontainer{
	padding: -15em 0 0px;
}}