 <h2 class="text-center">Les Meilleurs Bookmakers</h2>
     <br>
	 <p class="text-center"><a target="_blank" href="http://ga-fparis.monpetitbet.fr"><img src="{{url_for('static', filename='img/fparis.png')}}" width="375"></a></p>
     <br>
     <p class="text-center"><a target="_blank" href="http://ga-genybet.monpetitbet.fr"><img src="{{url_for('static', filename='img/genybet.png')}}" width="375"></a></p>
     <br>
     <p class="text-center"><a target="_blank" href="http://ga-joa.monpetitbet.fr"><img src="{{url_for('static', filename='img/joabet.png')}}" width="375"></a></p>
     <br>
     <p class="text-center"><a target="_blank" href="http://ga-partouche.monpetitbet.fr"><img src="{{url_for('static', filename='img/partouche.png')}}" width="375"></a></p>
     <br>
     <p class="text-center"><a target="_blank" href="http://ga-psport.monpetitbet.fr"><img src="{{url_for('static', filename='img/psport.png')}}" width="375"></a></p>
     <br>
     <p class="text-center"><a target="_blank" href="http://ga-pmu.monpetitbet.fr"><img src="{{url_for('static', filename='img/pmu-aff.png')}}" width="375"></a></p>
     <br>
     <p class="text-center"><a target="_blank" href="http://ga-unibet.monpetitbet.fr"><img src="{{url_for('static', filename='img/uni.png')}}" width="375"></a></p>
     <br>

 </div>