<footer class="footer footer-black footer-big">
    <div class="container-fluid footcontainer">
            <div class="hestia-bottom-footer-content">
                <ul id="menu-footer" class="footer-menu pull-left">
                    <li1 id="menu-item-546" class="gauche" align="left"><a href="mailto:contact@monpetitbet.fr"><t>Contact&emsp;&emsp;&emsp;&emsp;</t></a></li1>
                    <li1 id="menu-item-547" class="centre" align="left" ><a href="/mentions-legales"><t>Mentions Légales&emsp;&emsp;&emsp;&emsp;</t></a></li1>
            </ul>
                <div class="copyright pull-right"><t> MonPetitBet 2020-2022</t></div>
            </div>
    </div>
</footer>