
{% if name == "winamax" %}
    <h2>Présentation du bookmaker</h2>
    <p></p>
    <p class="sub">En bref</p>
    <p>Winamax est une société basée en France. C'est le leader du poker en ligne sur le territoire. Elle a obtenu un agrément de l'ANJ pour les paris sportifs en mai 2014 et est depuis un acteur montant de premier plan.</p>
    <p>Sponsor de la ligue 1, Winamax est aussi associé au club de foot de Lille (le LOSC) pour la saison 2020-2021.</p>
    <p></p>
    <p class="sub">Ses atouts décisifs</p>
    <p>-Winamax possède les meilleures cotes du marché français, ce qui le rend très intéressant</p>
    <p>-Le 1er pari remboursé est remboursé en cash jusqu'à 100 euros</p>
    <p></p>
    <p class="sub">Bonus</p>
    <p>Winamax offre un particulièrement bon accueil aux nouveaux parieurs et propose un promotion « 1er pari remboursé si perdu », cependant vous pourrez retirer votre mise perdante sur votre compte en banque. </p>
    <p>Même le début passé, Winamax propose toujours plus d'avantages sur Twitter notamment où il délivre nombre de freebets, et propose des programme fidélité, des concours hebdomadaires et autres.</p>
    <p></p>
    <p class="sub">Paiement</p>
    <p>Vous pouvez recharger votre compte joueur de beaucoup de manières, telles que par carte (Visa ou Mastercard), ou par PayPal, et ça sans aucun frais supplémentaire.</p>
    <p>De plus, il est possible d'approvisionner son compte à l'aide d'un code barre chez un buraliste partenaire en payant en espèces.</p>
    <p></p>
    <p class="sub">Ergonomie</p>
    <p>On retrouve un site très sobre et propre, tout est intuitif et facile, même si on ressent tout de même une sensation de trop peu.</p>
    <p>C'est aussi ce qui permet au site de charger aussi facilement alors on lui en tient moins vigueur.</p>

{% elif name == "betclic" %}
    <h2>Présentation du bookmaker</h2>
    <p></p>
    <p class="sub">En bref</p>
    <p>Crée en 2005, ce bookmaker Anglais est gigantesque dans le marché, issu du groupe BetClic Everest Group dont il est la figure de proue.</p>
    <p>Il est actuellement classé 1er site de pari sportif en France, mais il propose aussi du poker en ligne et du turf en conservant sa place.</p>
    <p>BetClic est le partenaire officiel de la Ligue 1 pour la saison 2020-2021.</p>
    <p></p>
    <p class="sub">Ses atouts décisifs</p>
    <p>-L'offre de bienvenue est alléchante</p>
    <p>-L'assurance cash-out de ce bookmaker est très bien faite pour le parieur</p>
    <p></p>
    <p class="sub">Bonus</p>
    <p>L'offre de bienvenue de BetClic, malgré son fonctionnement en freebets, représente un atout pour ce bookmaker, en récompensant après un 1er pari gagnant ou perdant jusqu'à 100 euros.</p>
    <p>Les plus gros parieurs, cependant, ne sont pas mis de coté, avec tous les challenges et promotions sur les réseaux sociaux (Facebook, Twitter, Snapchat...)</p>
    <p></p>
    <p class="sub">Paiement</p>
    <p>Vous pouvez recharger votre compte joueur de beaucoup de manières, telles que par carte (Visa ou Mastercard), ou par PayPal, et ça sans aucun frais supplémentaire (ce n'était pas le cas avant 2018, ou ils facturaient encore 2% lors d'un règlement par carte bancaire). </p>
    <p></p>
    <p class="sub">Ergonomie</p>
    <p>L'expérience utilisateur sur ce site est très soignée et facile d'accès de par notamment leurs rubriques stratégiques, cependant l'impossibilité d'avoir des favoris ainsi que l'absence de statistique pré-match sont notifiables.</p>


{% elif name == "unibet" %}
    <h2>Présentation du bookmaker</h2>
    <p></p>
    <p class="sub">En bref</p>
    <p>Unibet est créée en 1997, en Suède, qui a plus que réussi, à ce jour, c'est l'un des leaders des partis sportifs en Europe.</p>
    <p>Unibet a obtenu sa licence ANJ en 2010, cependant le lancement en France a du attendre fin 2011 suite à un rachat d'Eurobet, un autre bookamaker.</p>
    <p>Concernant le sponsoring, cet opérateur est le partenaire officiel du PSG depuis la saison 2018-2019. Elle compte aussi le journaliste sportif Pierre Ménès comme ambassadeur</p>
    <p></p>
    <p class="sub">Ses atouts décisifs</p>
    <p>-Unibet propose une cote défiant souvent la concurrence</p>
    <p>-Pour le pari sportif sur mobile, Unibet est la référence</p>
    <p></p>
    <p class="sub">Bonus</p>
    <p>Bien que leur offre pour les nouveaux arrivants ne soit pas la plus incisive du marché, leurs nombreuses promotions sont notables.</p>
    <p>Sur les réseaux sociaux, ce bookmaker partage beaucoup de paris gratuits, notamment sur Facebook et Twitter.</p>
    <p></p>
    <p class="sub">Paiement</p>
    <p>Pour le passage en caisse, une belle panoplie de modes de dépôt sont à disposition. Les petits joueurs bénéficient d'un seuil de dépôt minimal de 5 euros ainsi que des mises qui débutent à 10 centimes.</p>
    <p>Unibet accepte les retraits de gain via Skrill que peu de ses camarades ont à leur disposition.</p>
    <p></p>
    <p class="sub">Ergonomie</p>
    <p>Le site Unibet est très agréable de navigation et fluide. Les plus anciennes possibilités sur le site son bien mises à jour.</p>
    <p>L'historique des transactions et des paris est un gros plus. Le seul défaut serait l'impossibilité de créer des raccourcis vers ses équipes ou compétitions favorites.</p>

{% elif name == "bwin" %}
    <h2>Présentation du bookmaker</h2>
    <p></p>
    <p class="sub">En bref</p>
    <p>Bwin (ou BetandWin pour les intimes) a été créée en 1999 en Autriche et a obtenu son agrément ANJ en Juin2010.</p>
    <p>C'est un des leaders mondiaux des jeux d'argents en ligne ; il fait aussi du poker.</p>
    <p>Concernant le sponsoring, Bwin est le sponsor officiel de la BIG League, qui comprend quatre clubs majeurs de football européen : Inter Milan, Atlético de Madrid, Borussia Dortmund, et Valence CF.</p>
    <p></p>
    <p class="sub">Ses atouts décisifs</p>
    <p>-Excellent choix de paris, que ce soit en pré-match ou en direct</p>
    <p>-Une assurance cash-out</p>
    <p></p>
    <p class="sub">Bonus</p>
    <p>En terme de bonus, Bwin n'est pas le mieux classé, en effet leur offre de bienvenue se limite à des freebets et leurs promotions sont difficiles à trouver.</p>
    <p></p>
    <p class="sub">Paiement</p>
    <p>Vous pouvez recharger votre compte joueur de beaucoup de manières, telles que par carte (Visa ou Mastercard), ou par PayPal, et ça sans aucun frais supplémentaire (ce n'était pas le cas avant, ou ils facturaient encore 2% lors d'un règlement par carte bancaire).</p>
    <p></p>
    <p class="sub">Ergonomie</p>
    <p>Le site se portait à merveille en termes de design et d'accessibilité, cependant depuis fin 2019, qui a vu sa refonte, on observe un léger retour en arrière.</p>
    <p>Le site pour ordinateur et la version mobile étants mélangés, sur ordinateur les menus sont tous petits.</p>
    <p>Pouvoir mettre en favoris ses équipes ou championnats préférés reste un gros bonus.</p>

{% elif name == "zebet" %}
    <h2>Présentation du bookmaker</h2>
    <p></p>
    <p class="sub">En bref</p>
    <p>ZeBet a été fondé par ZeTurf (numéro 2 du pari hippique en France) et agréé en 2014 peu avant la coupe du monde de football, pour le plus grand plaisir des actionnaires.</p>
    <p>De la même manière que GenyBet, NetBet et Joaonline, ce site marche avec l'infrastructure Sportnco qui a été créée par le bookmaker France-Pari.</p>
    <p>Concernant le sponsoring, Zebet est un partenaire officiel du club de Ligue 1 l'AS St Etienne.</p>
    <p></p>
    <p class="sub">Ses atouts décisifs</p>
    <p>-Sur le foot européen, ZeBet propose les meilleures cotes</p>
    <p>-Une application mobile agréable et utile</p>
    <p></p>
    <p class="sub">Bonus</p>
    <p>L'offre de bienvenue de ZeBet laisse un peu à désirer avec son fonctionnement en freebets.</p>
    <p>Un programme fidélité est disponible et lâche beaucoup de paris gratuits sur les réseaux.</p>
    <p></p>
    <p class="sub">Paiement</p>
    <p>Pour le passage en caisse ZeBet propose tous les moyens de paiement classiques, il est cependant possible de récupérer ses gains via Skrill (il faut avoir déjà fait un dépôt via Skrill).</p>
    <p>Il y a néanmoins un prélèvement d'une commission assez agaçante lors des dépôts par ticket pré-payé.</p>
    <p></p>
    <p class="sub">Ergonomie</p>
    <p>Votre compte joueur est valable chez ZeBet évidemment et chez son fondateur ZeTurf.</p>
    <p>Le site est agréable d'utilisation, ce n'était pas le cas avant 2018 mais nous avons eu le droit à une refonte très bien exécutée.</p>

{% elif name == "pmu" %}
    <h2>Présentation du bookmaker</h2>
    <p></p>
    <p class="sub">En bref</p>
    <p>PMU Sport est historiquement connu pour les courses de chevaux mais depuis 2010 il opère aussi sur les paris sportifs en ligne.</p>
    <p>En 2020, Pari Mutuel Urban se proclame 1er du pari et personne ne contredit, si on prend en compte le volume de paris en ligne.</p>
    <p>Concernant le sponsoring, PMU Sport est notamment le partenaire officiel de l'équipe de France de football, de plus, il est aussi associé à des clubs de Ligue 1 tels que Rennes, Strasbourg, ou encore Lens.</p>
    <p></p>
    <p class="sub">Ses atouts décisifs</p>
    <p>-Le bonus de bienvenue avec un remboursement 100% cash</p>
    <p>-Le site propose un large panel de choix de paris</p>
    <p></p>
    <p class="sub">Bonus</p>
    <p>Pour ce qui est du bonus de bienvenue, PMU Sport mets la barre haute en proposant un 1er pari remboursé en bonus retirable.</p>
    <p>Ils sont très actifs sur les réseaux et récompense les clients fidèles à l'aide de freebets offerts ou encore de jeux-concours.</p>
    <p></p>
    <p class="sub">Paiement</p>
    <p>Pour le passage en caisse, PMU Sport propose tous les moyens de paiement classiques sans aucun frais (en général).</p>
    <p>La possibilité d'effectuer un premier versement à partir de 5 euros ainsi que le retirage des gains à partir d'1 euro est appréciable.</p>
    <p></p>
    <p class="sub">Ergonomie</p>
    <p>L'expérience utilisateur est très réussie sur ce site haut en couleurs.</p>
    <p>Un manque de clarté au niveau de certaines rubriques telles que l'historique des paris. L'absence des statistiques des joueurs pour les paris pré-match est notable.</p>
    <p>La protection du compte joueur est bien, voir trop, notamment sur ordinateur ou le système d'authentification numérique est contrariant.</p>

{% elif name == "parions-sport" %}
    <h2>Présentation du bookmaker</h2>
    <p></p>
    <p class="sub">En bref</p>
    <p>De son ancien nom ParionsWeb, Parions Sport est le site Internet de paris sportifs de la Française Des Jeux.</p>
    <p>Ne confondez pas ce site avec le jeu Parions Sport « Point de vente » qui lui est disponible en version papier dans les bureaux de tabac.</p>
    <p>Concernant le sponsoring, Parions Sport est un sponsor de la Ligue 1, de plus, il est associé à l'équipe de Lyon et de Marseille depuis 2019.</p>
    <p></p>
    <p class="sub">Ses atouts décisifs</p>
    <p>-Large choix sur les paris pré-match</p>
    <p>-La sécurité de la Française Des Jeux</p>
    <p></p>
    <p class="sub">Bonus</p>
    <p>L'offre de bienvenue de Parions Sports est très changeante, notamment au niveau du remboursement de celui-ci.</p>
    <p>Pour ce qui est des habitués, des freebets, des concours de pronostics et autres les attendent sur les réseaux.</p>
    <p></p>
    <p class="sub">Paiement</p>
    <p>Pendant longtemps, Parions Web était à la ramasse niveau moyen de paiement, mais il a su élargir sa palette de choix et propose maintenant les moyens de paiement classique sans frais.</p>
    <p>Pour les petits joueurs, le seuil de dépôt à 5 euros et les retraits disponibles dès 1 centime sont très appréciables.</p>
    <p></p>
    <p class="sub">Ergonomie</p>
    <p> Le site de la FDJ a plusieurs années été à la traine avec une interface moyenne, néanmoins depuis printemps 2020 ils remontent la pente grâce à une refonte.</p>
    <p>Ils restent quand-même en deçà des sites d'autres bookmakers, votre compte joueur vous permet aussi de participer directement aux autres jeux en ligne de la Française Des Jeux (Euro-millions, Loto, Goal, Solitaire...).</p>

{% elif name == "pokerstars" %}
    <h2>Présentation du bookmaker</h2>
    <p></p>
    <p class="sub">En bref</p>
    <p>PokerStars Sport, leur site de pari en ligne, appartient au groupe Réel Malta.</p>
    <p>N°1 du poker en ligne, Poker Stars a fait ses débuts sur le pari sportif en 2016, à la suite de l'obtention d'un agrément ANJ.</p>
    <p>Avant, ce bookmaker se nommait BetStars, à ne pas confondre avec BetClic</p>
    <p>De manière à augmenter sa notoriété sur le marché français, Hervé Mathoux, célèbre présentateur sur la chaine Canal+ , a rejoint leurs services.</p>
    <p></p>
    <p class="sub">Ses atouts décisifs</p>
    <p>-Le plafond de gain est d'un million d'euros</p>
    <p>-En pré-match, un large choix de pari est disponible</p>
    <p></p>
    <p class="sub">Bonus</p>
    <p>L'offre de bienvenue est assez banale, avec un remboursement en freebets. Néanmoins, leurs promotions et offres de fidélité sont assez alléchantes</p>
    <p></p>
    <p class="sub">Paiement</p>
    <p>Poker Star dispose de tous les modes de paiement courants sans commission, et si vous parizz sur Iphone, il est possible de payer via ApplePay</p>
    <p></p>
    <p class="sub">Ergonomie</p>
    <p>Leur site web est assez classique, cependant la navigation entre les différentes rubriques est assez mal faite. Votre compte de pari sportif est relié à votre compte de poker en ligne</p>

{% elif name == "france-pari" %}
    <h2>Présentation du bookmaker</h2>
    <p></p>
    <p class="sub">En bref</p>
    <p>France-Pari est une société évidemment française, résultat d'une société française installé en banlieue de Toulouse.</p>
    <p>Il a obtenu son agrément ANJ en Juin 2010 et est depuis récemment ouvert aux sports hippiques.</p>
    <p>De la même manière que GenyBet, NetBet et Joaonline, ce site marche avec l'infrastructure Sportnco, logiciel développé par sa filiale.</p>
    <p>C'est pourquoi vous pourrez retrouver une légère ressemblance entre les cotes de ces bookmakers.</p>
    <p></p>
    <p class="sub">Ses atouts décisifs</p>
    <p>-Il y a à disposition un loto foot de 5 à 10 matchs</p>
    <p>-le bonus est doublé depuis juin 2020</p>
    <p></p>
    <p class="sub">Bonus</p>
    <p>Pour l'offre de bienvenue, France-Pari permet au parieur d'avoir 2 essais, un premier remboursé si perdu, avec un bonus de fidélité pendant 3 mois, et un deuxième aussi remboursé si perdu.</p>
    <p>Le site propose des promotions régulières sur les réseaux et propose un programme fidélité qui ferait craquer les plus féroces.</p>
    <p></p>
    <p class="sub">Paiement</p>
    <p>Tous les moyens de paiement classiques sont disponibles sur France-Pari de manière à garnir votre compte joueur, le tout sans commission.</p>
    <p>Pour ce qui est des gains, France-Pari a mis en place un plafond de 10.000 euros pour un pari combiné (contre 200.000 euros chez BetClic).</p>
    <p></p>
    <p class="sub">Ergonomie</p>
    <p>Le site présente une interface très spacieuse et fluide, l'expérience utilisateur est bien respectée.</p>
    <p>Il y a tout de même l'impossibilité de changer ses coordonnées dans l'espace Mon Compte, forçant un appel au standard qui n'est pas des plus agréables pour les plus introvertis d'entre nous.</p>

{% elif name == "genybet" %}
    <h2>Présentation du bookmaker</h2>
    <p></p>
    <p class="sub">En bref</p>
    <p>Lancé en 2010 par Geny Infos, cette entreprise française qui a ouvert une section pari sportifs en juillet 2013 faisait auparavant exclusivement du pari hippique.</p>
    <p>De la même manière que GenyBet, NetBet et Joaonline, ce site marche avec l'infrastructure Sportnco.</p>
    <p>C'est pourquoi vous pourrez retrouver une légère ressemblance entre les cotes de ces bookmakers.</p>
    <p>Toute l'activité de Geny Infos (ce qui inclut Genybet) a été cédée en juillet 2020 à la société NJJ Project Thirteen, une structure montée par Xavier Niel, fondateur du groupe Free.</p>
    <p></p>
    <p class="sub">Ses atouts décisifs</p>
    <p>-Le bonus de bienvenue qui est plus qu'acceptable</p>
    <p>-Le panel de choix de paris classiques</p>
    <p></p>
    <p class="sub">Bonus</p>
    <p>Pour ce qui est de l'offre de bienvenue, seule une partie est consacrée aux paris sportifs.</p>
    <p>Cette offre, malgré un montant maximal plus faible que ces petits camarades, a plusieurs atouts dans sa manche.</p>
    <p>En termes de promotions sur les réseaux, il y a un peu de manque hors grandes compétitions.</p>
    <p>Le changement de propriétaire survenu durant l'été 2020 devrait rapidement changer la donne dans ce registre.</p>
    <p></p>
    <p class="sub">Paiement</p>
    <p>Tous les moyens de paiement classiques ne sont pas chez GenyBet malheureusement, avec seulement des règlements par carte bancaire, par virement ou en ticket PaySafeCard.</p>
    <p>Malgré ce manque, il n'y a pas de commission sur ces rentrées d'argent.</p>
    <p></p>
    <p class="sub">Ergonomie</p>
    <p>Le site propose une très belle interface qui a été retravaillée pendant l'été 2020, il dispose d'un moteur de recherche pour accéder plus rapidement à un club ou une compétition, de plus, la gestion des équipes favorites est désormais possible.</p>

{% elif name == "vbet" %}
    <h2>Présentation du bookmaker</h2>
    <p></p>
    <p class="sub">En bref</p>
    <p>VBet est un pur produit arménien, issu du groupe Betconstruct qui est spécialisé dans le service des jeux en ligne.</p>
    <p>Il a obtenu son agrément ANJ en 2017, malgré une ouverture du site qu'en juin 2019.</p>
    <p>Cet opérateur partage par ailleurs sa licence ANJ avec Pasinobet et BarriereBet, on ne peut donc pas ouvrir un compte chez eux si un compte est déjà ouvert sur l'un des deux autres sites.</p>
    <p>Côté sponsoring, Vbet s'est associé à l'AS Monaco.</p>
    <p></p>
    <p class="sub">Ses atouts décisifs</p>
    <p>-Large panel de paris pré-match</p>
    <p>-Une augmentation des promotions depuis l'été 2020</p>
    <p></p>
    <p class="sub">Bonus</p>
    <p>Pour ce qui est de l'offre de bienvenue, celle de VBet fonctionne via des freebets comme beaucoup.</p>
    <p>Malgré cela, leur choix de promotions régulières et leur programme de fidélité sont toujours bien accueillies.</p>
    <p></p>
    <p class="sub">Paiement</p>
    <p>Tous les moyens de paiement classiques, sauf PayPal, sont valables et sans frais. Le bonus est le seuil de dépôt minimal, fixé à 5 euros.</p>
    <p></p>
    <p class="sub">Ergonomie</p>
    <p>Le site est tout ce qu'il y a de bien fait. Il est attrayant, les fonctions de bases marchent à merveille, il est possible d'épingler ses compétitions favorites, …</p>
    <p>Cependant, sur ordinateur la présentation en deux colonnes est mal faite, il y a des problèmes récurrents de connexion au compte joueur, même en 2020.</p>

{% elif name == "netbet" %}
    <h2>Présentation du bookmaker</h2>
    <p></p>
    <p class="sub">En bref</p>
    <p>NetBet est une société française installée à Paris depuis septembre 2009, qui a obtenu son agrément ANJ en juillet 2011.</p>
    <p>De la même manière que GenyBet, France-Pari et Joaonline, ce site marche avec l'infrastructure Sportnco.</p>
    <p>C'est pourquoi vous pourrez retrouver une légère ressemblance entre les cotes de ces bookmakers.</p>
    <p>De manière à augmenter sa notoriété sur le marché français, Alexandre Ruiz, célèbre présentateur sur la chaine BeinSports, a rejoint leurs services et propose régulièrement sur le site ses pronostics footballistiques</p>
    <p></p>
    <p class="sub">Ses atouts décisifs</p>
    <p>-Une assurance cash-out qui fait plaisir</p>
    <p>-Des promotions toutes les semaines sur les réseaux</p>
    <p></p>
    <p class="sub">Bonus</p>
    <p>Pour ce qui est de l'offre de bienvenue, NetBet a décompliqué sa prime à l'inscription mais elle ne reste pas idéale.</p>
    <p>Pour ce qui est des promotions sur les réseaux, elles sont quantitatives et qualitatives.</p>
    <p></p>
    <p class="sub">Paiement</p>
    <p>Tous les moyens de paiement classiques vous tendent les bras et ils sont disponibles sans frais.</p>
    <p>Il est même possible, depuis 2019, de payer via Mobiyo qui est un prestataire prélevant directement sur votre abonnement téléphonique mobile, mais cela est réservé aux clients Bouygues Telecom.</p>
    <p></p>
    <p class="sub">Ergonomie</p>
    <p>Le site, peu importe son passé abrupte, garanti aujourd'hui une navigation agréable et rapide.</p>
    <p>On remarque aussi que l'historique des paris ainsi que le suivi des bonus sont clairement expliqués, de plus il est possible de mettre ses compétitions préférées en favoris</p>


{% elif name == "barriere-bet" %}
    <h2>Présentation</h2>
    <p></p>
    <p class="sub">En bref :</p>
    <p>BarriereBet est arrivé sur le marché français du pari sportif en fin 2020, fruit du groupe français Barriere, qui est dans le domaine des casinos et des Hôtels de luxe, et la société Vivaro. </p>
    <p>Vivaro s'occupe des bookmakers VBet et PasinotBet ainsi que de la plateforme informatique du site. </p>
    <p>Il vous est donc impossible de vous inscrire chez eux si vous possédez déjà un compte que ce soit chez VBet ou PasinoBet. </p>
    <p></p>
    <p class="sub">Ses atouts décisifs :</p>
    <p>-BarriereBet propose une fonction Cashout très intéressante</p>
    <p>-EditBet qui vous permets de changer vos prédictions avant match</p>
    <p></p>
    <p class="sub">Bonus :</p>
    <p>L'offre de bienvenue tout en freebets viens entacher les débuts de cet opérateur dans le monde du pari sportif, bien que quantitative, les freebets ne faisant pas l'unanimité. </p>
    <p>Ils ont cependant un agenda bien prévu pour la suite avec des concours ou mêmes des bonus sur les paris multiples. </p>
    <p>Ils utilisent leur dos de grande entreprise pour proposer de remporter un séjour dans un établissement Barriere avec un jeu gratuit, offre étonnante mais très appréciable. </p>
    <p></p>
    <p class="sub">Paiement :</p>
    <p>Pour créditer votre compte joueur, tout les modes classiques de paiement (sauf PayPal) sont proposé par BarriereBet avec un montant minimal de dépôt de 5euros. </p>
    <p></p>
    <p class="sub">Ergonomie :</p>
    <p>Leur site offre une interface claire et agréable qui n'est pas sans rappeler celui de VBet (étonnant dis-donc) les fonctions de ases sont donc au rendez-vous. </p>
    <p>Il est très attrayant de pouvoir rechercher un match si facilement ainsi que de pouvoir gérer ses compétitions favorites. </p>

{% elif name == "betway" %}
    <h2>Présentation</h2>
    <p></p>
    <p class="sub">En bref :</p>
    <p>Betway est le dernier arrivé sur le marché français du pari sportif </p>
	<p>Son interface, est perfomante et intuitive </p>
    <p></p>
    <p class="sub">Ses atouts décisifs :</p>
    <p>-Betway propose une assurance cashout très intéressante</p>
    <p>-LotoFoot qui vous permet de remplir des grilles de paris</p>
    <p></p>
    <p class="sub">Bonus :</p>
    <p>L'offre de bienvenue tout en freebets viens entacher les débuts de cet opérateur dans le monde du pari sportif, bien que quantitative, les freebets ne faisant pas l'unanimité. </p>
    <p>Les diverses promotions ne sont pas encore au niveau des concurrents. </p>
    <p></p>
    <p class="sub">Paiement :</p>
    <p>Pour créditer votre compte joueur, tout les modes classiques de paiement sont proposés par Betway avec un montant minimal de dépôt de 5euros. </p>
    <p></p>
    <p class="sub">Ergonomie :</p>
    <p>Leur site offre une interface claire et agréable. </p>
	<p>Le site utilise la plateforme Sportnco de la société mère de France-Pari.</p>
    <p>Il est très attrayant de pouvoir rechercher un match si facilement ainsi que de pouvoir gérer ses compétitions favorites. </p>



{% elif name == "joabet" %}
    <h2>Présentation</h2>
    <p></p>
    <p class="sub">En bref :</p>
    <p>Joabet est un bookmaker qui existe depuis une dizaine d'année, sans jamais avoir eu de renom auprès des joueurs.</p>
    <p>La plateforme a été refaite en 2021, avec un changement de nom (JOA-Online auparavant) </p>
    <p>Ayant signé avec Sportnco, on retrouve une interface qui ressemble à celle de france-paris</p>
    <p></p>
    <h3>Ses atouts décisifs :</p>
    <p>-JoaBet propose une fonction Cashout très intéressante</p>
    <p>-Opti-Odds pour booster les combinés</p>
    <p></p>
    <p class="sub">Bonus :</p>
    <p>L'offre de bienvenue tout en freebets viens entacher les débuts de cet opérateur dans le monde du pari sportif, bien que quantitative, les freebets ne faisant pas l'unanimité. </p>
    <p>Ils ont cependant un agenda bien prévu pour la suite avec des concours ou mêmes des bonus sur les paris multiples. </p>
    <p></p>
    <p class="sub">Paiement :</p>
    <p>Pour créditer votre compte joueur, tout les modes classiques de paiement (sauf PayPal) sont proposé par JoaBet avec un montant minimal de dépôt de 5euros. </p>
    <p></p>
    <p class="sub">Ergonomie :</p>
    <p>Leur site offre une interface claire et agréable. Les fonctions de base sont donc au rendez-vous. </p>
    <p>L'historique des paris n'est toujours pas suffisamment détaillé malheureusement </p>

{% elif name == "partouche-sport" %}
    <h2>Présentation</h2>
    <p></p>
    <p class="sub">En bref :</p>
    <p>PartoucheSport (anciennement PasinoBet) est arrivé sur le marché français du pari sportif en 2020 </p>
    <p>Vivaro s'occupe des bookmakers VBet et BarriereBet ainsi que de la plateforme informatique du site. </p>
    <p>Il vous est donc impossible de vous inscrire chez eux si vous possédez déjà un compte que ce soit chez VBet ou BarriereBet. </p>
    <p></p>
    <p class="sub">Ses atouts décisifs :</p>
    <p>-PartoucheSport propose une fonction Cashout très intéressante</p>
    <p>-En effet cette fonction peut-être programmé à l'avance et votre paris pourra être "racheté", sans action de votre part en live</p>
    <p></p>
    <p class="sub">Bonus :</p>
    <p>L'offre de bienvenue tout en freebets viens entacher les débuts de cet opérateur dans le monde du pari sportif, bien que quantitative, les freebets ne faisant pas l'unanimité. </p>
    <p>Ils ont cependant un agenda bien prévu pour la suite avec des concours ou mêmes des bonus sur les paris multiples. </p>
    <p>Ils utilisent leur dos de grande entreprise pour proposer de remporter un séjour dans un établissement Barriere avec un jeu gratuit, offre étonnante mais très appréciable. </p>
    <p></p>
    <p class="sub">Paiement :</p>
    <p>Pour créditer votre compte joueur, tout les modes classiques de paiement (sauf PayPal) sont proposé par PartoucheSport avec un montant minimal de dépôt de 5euros. </p>
    <p></p>
    <p class="sub">Ergonomie :</p>
    <p>Leur site offre une interface claire et agréable qui n'est pas sans rappeler celui de VBet, les fonctions de bases sont donc au rendez-vous. </p>
    <p>Il est très attrayant de pouvoir rechercher un match si facilement ainsi que de pouvoir gérer ses compétitions favorites. </p>
	
{% elif name == "feeling-bet" %}
    <h2>Présentation</h2>
    <p></p>
    <p class="sub">En bref :</p>
    <p>FeelingBet est arrivé sur le marché français du pari sportif en 2019 </p>
    <p>Moins connu que France-Pari, il offre un éventail de paris et de promotions qui satisferont les joueurs </p>
    <p></p>
    <p class="sub">Ses atouts décisifs :</p>
    <p>-Plus de promotions depuis 2022</p>
    <p>-Un large éventails de paris et sports proposés</p>
    <p></p>
    <p class="sub">Bonus :</p>
    <p>L'offre de bienvenue tout en freebets offre jusqu'à 300 euros de récompenses, soit l'offre la plus compétitive du marché</p>
   <p>On regrettera, le plafond du 1er pari de 100 euros seulement, mais qui va au-delà des 50 euros auparavant</p>
   <p></p>
    <p class="sub">Paiement :</p>
    <p>Pour créditer votre compte joueur, tout les modes classiques de paiement sont proposés par FeelingBet avec un montant minimal de dépôt de 10 euros. </p>
	<p>On aimera le fait, que le site propose un paiement 3DSecure, ajoutant de la sécurité à nos dépôts</p>
    <p></p>
   <p class="sub">Ergonomie :</p>
    <p>Leur site offre une interface claire et agréable qui n'est pas sans rappeler celle de France-Pari, le site bénéficiant de la plateforme Sportnco </p>
    <p>On note la facilité du formulaire d'isncription et de connexion</p>


{% endif %}